.featuredDish {
	margin-top: 200px;
	.featuredHeader{
		p{
			text-transform: uppercase;
			display: inline-block;
			font-family: "Aleo";
			font-size: 20px;
			padding-left: 30px;
		}
		hr{
			width: 17%;
			display: inline-block;
			margin: 0 0 7px 19px;
		}
		ol {
			display: inline-block;
			margin: auto auto 0 53%;
			li{
				display: inherit;
				i{
					color: $lightgrey;
					letter-spacing: 6px;
				}
				i.active{
					color: $darkGrey;
				}
			}
		}
	}
	.thumbnail {
		border: none;
		margin-top: 80px;
		img{
			margin-bottom: 30px;
		}
		.caption {
			padding: 11px;
			h4,p {
				display: inline-block;
				font-size: 16px;
				font-family: "Aleo";
			}
			p {
				position: absolute;
    			right: 30px;
    			top: 322px;
			}
			.rate {
				margin-top: 10px;
				li {
					display: inline-block;
					i {
						color: $lightgrey;
					}
				}
				.yellow {
					i {
						color: $yellow;
					}
				}
			}
		}
	}
}
@media (max-width: 590px) {
	.container-fluid.featuredDish{
		div{
			div {
				div.row.featuredHeader{
					hr{
						display: none;
					}
				}
			}
		}
	} 
}

@media (max-width: 1208px) {
	.featuredDish {
		.featuredHeader{
			ol {
				display: inline-block;
				margin: auto auto 0 26%;
			}
		}
	}
}

@media (max-width: 420px) {
	.featuredDish {
		.featuredHeader{
			ol {
				display:inline-block;
				margin: auto auto 0 30%;
			}
		}
	}
}

@media (max-width: 992px) {
	.featuredDish {
		margin-top: 50px;
		.thumbnail{
			margin: 0;
			img {
	
			}
			.caption {
				text-align: center;
				h4,p {
					display: block;
					position:inherit;
				}
				
			}
		}
	}
}
@media (max-width: 320px) {
	.featuredDish {
		.thumbnail{
			.caption {
				h4,p {
					font-size: 12px;
				}
			}
		}
	}
}