.mainMenu {
	.container{
		margin-left: 206px;
		padding: 0;
		button {
			color: $grey;
			border-radius: 0;
			span {
				font-family: "Aleo";
				font-size: 14px;
			}
			.line {
				margin: auto 12px;
			}
		}
	}
}
.theMenu {
	text-align: center;
}
.menu {
	font-family: "Aleo";
	margin-top: 80px;
	li {
		margin-bottom: 63px;
	
	.menu-item {
		display: inline-block;
		width: 50%;
		h4 {
			margin-bottom: 8px;
			font-weight: 600;
			color: $black; 
			font-size: 16px;
		}
		p {
			color: $darkGrey;
			font-style: italic;
			font-size: 12px;
		}
		
	}
	hr {
		margin: 20px 42px 20px 0;
    	border: 0;
    	border-top: 1px solid $lightgrey;
		display: inline-block;
    	width: 26%;
	
		}
	.price {
		display: inline-block;
		position: absolute;
		margin-top: 10px;
		h4{
			margin: 0;
			}
		}
	}
}

