.mainMenu {
	.container{
		margin-left: 200px;
		padding: 0;
	}
}
.theMenu {
	text-align: center;
}
.menu {
	font-family: "Aleo";
	margin-top: 80px;
	li {
		margin-bottom: 63px;
	
	.menu-item {
		display: inline-block;
		h4 {
			margin-bottom: 8px;
			font-weight: 600;
			color: $black; 
			font-size: 16px;
		}
		p {
			color: $darkGrey;
			font-style: italic;
			font-size: 12px;
		}
		
	}
	hr {
		margin: 20px 0 0 0;
    	border: 0;
    	border-top: 1px solid $lightgrey;
		display: inline-block;
    	width: 30%;
	
		}
	.price {
		display: inline-block;
		margin-top: 10px;
		h4{
			margin: 0;
			}
		}
	}
}